body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 1.42;
    background: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
}

a {
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body, html {
    height: 100%;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.page-background-wrapper {
    background: url("../../img/hero.jpg") center top no-repeat, url("../../img/bottom-picture.jpg") center bottom 170px no-repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1141px;
}
