.form__row {
    display: flex;
    margin-bottom: 27px;
}

.form__row--textarea {
    margin-bottom: 23px;
}

.form__input {
    flex: 1;
    margin-right: 28px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #fff;
    padding: 20px 30px;
    font-size: 18px;
    color: #1A1B1E;
}

.form__input::placeholder {
    color: #666666;
}

.form__input:last-child {
    margin-right: 0px;
}

.form__input:focus {
    border-color: #F5170E;
    outline: none;
}

.form__input--textarea {
    height: 234px;
    padding-top: 32px;
    resize: none;
}

.form__controls {
    display: flex;
    margin-bottom: 31px;
}

.form__controls-title {
    padding-top: 11px;
    width: 38.2%;
    font-size: 18px;
    color: #1A1B1E;
}

.form__buttons {
    display: flex;
    justify-content: flex-end;
}