.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__item {
    margin-right: 55px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s;
}

.nav__link:hover, .nav__link--active {
    color: #DA0100;
}