.separator {
    background: url(../../img/couple.png) right 21.5% bottom no-repeat, url(../../img/separator-bg.jpg) center center / cover no-repeat;
    min-height: 363px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.separator__content {
    max-width: 50%;
}

.separator__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
}